{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src"
      }
    }]
  ],
  // https://naoty.github.io/posts/25.html
  "env": {
    "test":{
      "presets":[
        ["@babel/env", { "modules": "commonjs" }]
      ],
      "plugins":["module:babel-jest-assertions"]
    }
  }
}
